@font-face {
    font-family: poppins;
    src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
  }

.cart-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 3px solid #774503e8;
    font-family: "poppins", "sans-serif";
}

.cart-item img {
    padding-top: 5px;
    height: 100px;
    width: 120px;
}
.text{
    display: flex;
    justify-content: space-between;
}
.text span{
    margin-right: 20px;
    cursor: pointer;
}
.trash-icon{
    height: 30px !important;
    width: 20px !important;
}
.title {
    display: inline;
    font-size: 14px;
    padding-top: 10px;
}

.summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 5px;
}

.summary .price {
    background: linear-gradient(to right bottom, #fb9005, #666666);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 15px;
    padding-top: 10px;
}
.summary .quantity{
    border: 1px solid rgb(186, 186, 186);
    padding: 2px 10px;
    border-radius: 5px;
}
.actions button{
    margin-left: 5px;
    padding: 4px 13px;
    background-color: white;
    border-color: #fb900574;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}
.actions button:hover, .actions button:active{
    background: linear-gradient(to right bottom, #804b06, #666666);
}