
.delivery-card {
    display: grid;
    grid-template-columns: auto;
    font-family: "poppins";
    max-height: 25rem;
    overflow-y: scroll;
  }
  .title{
    text-align: center;
    font-weight: 700;
}
  .delivery-card label{
    font-size: 15px;
  }
  .delivery-card input {
    height: 40px;
    border: 1px solid gray;
    max-width: 95%;
    border-radius: .5rem;
  }
  
  .delivery-card #address {
    height: 5rem;
  }
  .actions {
    margin-top: 20px;
    text-align: right;
    display: grid;
    grid-template-columns: auto auto;
  }


.button {
    font-family: "poppins";
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    background: linear-gradient(to right bottom, #fb9005, #666666);
    color: white;
    max-width: 160px;
}

.button:hover,
.button:active {
    background: linear-gradient(to right bottom, #804b06, #666666);
    border-color: #5a1a01;
    color: white;
}
.itemview{
    display: none;
}
.note{
  color: #a3a2a2;
  font-size: 15px;
  text-align: center;
}
@media screen and (max-width: 75em) {}


@media screen and (max-width: 64em) {}

@media screen and (max-width: 58em) {


}

@media screen and (max-width: 48em) {}

@media screen and (max-width: 37.5em) {

.button {
        padding: 0.4rem 1rem;

    }
}

@media screen and (max-width: 27em) {}

@media screen and (max-width: 21.5em) {
.button {
        padding: 10px 2px;
    }
}

@media screen and (min-width: 112.5em) {}