.contact {
    background-image: linear-gradient(rgba(225, 225, 225, 0.556), rgba(225, 225, 225, 0.556));
    background-color: #a48d0e;
    justify-content: center;
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(3, .2fr);
}

.col-1-of-3 {
    padding-top: 12px;
    /* width: calc((100% - 3 * 1rem)/4); */
    /* width: 28rem; */
}

.col-1-of-3 h5 {
    font-size: .9rem;
    font-weight: 600;
    color: #383838;
}

.col-1-of-3 li {
    list-style: none;
    margin-bottom: .7rem;
    margin-left: -.05rem;
}

.col-1-of-3 li a {
    text-decoration: none;
    color: rgba(64, 63, 63, 0.857);
    font-size: .7rem;
    font-weight: 100;
}

.col-1-of-3 li a:hover, .col-1-of-3 li a:active, .col-1-of-3 li a:focus {
    color: #1c1b1b;
}
.social{
    display: flex;
    
}
.social li{
    margin-right: 30px;
}
.small-icons{
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 2px;
}
.social-icons{
    height: 30px;
    width: 30px;
}
@media screen and (max-width: 75em) {
   
}


@media screen and (max-width: 64em) {
  
}

@media screen and (max-width: 56.25em) {

    
}

    @media screen and (max-width: 48em) {
          
    }

    @media screen and (max-width: 37.5em) {
        .contact {
       
            display: grid;
            grid-template-columns: auto auto;
        }
    }

    @media screen and (max-width: 27em) {
      
    }

    @media screen and (max-width: 20em) {
        
    }

@media screen and (min-width: 112.5em) {}
