@font-face {
  font-family: lato;
  src: url(../../assets/fonts/Lato/Lato-Black.ttf);
  
}

@font-face {
  font-family: monoton;
  src: url(../../assets/fonts/monoton/Monoton-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.navigation {
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 8px;
  z-index: 50;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
}

.brand {
  text-align: center;
  margin: 10px;
}
.navbar-brand {
  font-size: 28px;
  font-family: 'monoton', sans-serif;
  font-weight: 600;
  background: linear-gradient(to right bottom, #fb9005, #666666);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.navbrand-sub {
  margin-top: -1.5rem;
  font-family: 'monoton';
  font-weight: 700;
  font-size: 20px;
  background: linear-gradient(to right bottom, rgba(251, 144, 5, 0.652), rgba(165, 165, 165, 0.841));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.nav-options{
  display: flex;

}
.nav-options li{
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: "poppins";

}
.nav-btns{
  list-style: none;
  padding: 8px 10px;
  background: linear-gradient(to right bottom, #fb9005, #666666);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-top: 16px;
}

.nav-btns:hover,
.nav-btns:active {
  background: linear-gradient(to right bottom, #583200, #353535);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.nav-group{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.nav-icon{
  height: 18px;
}
.nav-group:hover{
  fill: #583200;
}
@media screen and (max-width: 75em) {
   
}


@media screen and (max-width: 64em) {
  
}

@media screen and (max-width: 58em) {
   .nav-text{
    display: none;
   }
   .nav-btns{
    padding: 1px 10px;
    margin-top: 25px;
   }
}

    @media screen and (max-width: 48em) {
          
    }

    @media screen and (max-width: 37.5em) {
      .navbar-brand {
        font-size: 25px;
    
      }
      .brand {
        margin: 0px;
      }
      
      .navbrand-sub {
        font-size: 18px;
      }
    }

    @media screen and (max-width: 27em) {
      
    }

    @media screen and (max-width: 20em) {
      .navbar-brand {
        font-size: 22px;
        
      }
      
      .navbrand-sub {
        font-size: 13px;
      }
    }

@media screen and (min-width: 112.5em) {}
