.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background: linear-gradient(to right bottom, #fb9005, #666666);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 1px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  border: none;
}

.button:hover,
.button:active {
  background: linear-gradient(to right bottom, #583200, #353535);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.icon {
  /* width: 1.2rem;
  height: 20rem;
  margin-right: 0.5rem; */
}
.nav-icon{
  height: 18px;
}

.cartText{
  font-size: 14px;
}

/* .cartText{
  font-size: 15px;
} */

.button:hover ,
.button:active {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 58em) {
  .cartText{
   display: none;
  }
  .button {
    padding: 5.5px 6px;
  }
}
