.carousel{
    width: 100vw;
    z-index: -1;
    
    /* display:inline-block; */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); IE6-9 */
}

.carousel-img {
    /* position: relative; */
    width: 100% !important;
    height: 100vh !important;
    object-fit: cover;
    z-index: -1 !important;
   /* background-image: url(image.jpg); */
   
}
