@font-face {
  font-family: jokerman;
  src: url(../assets/fonts/Jokerman-Font/Jokerman-Font.ttf);
}
@font-face {
  font-family: monoton;
  src: url(../assets/fonts/monoton/Monoton-Regular.ttf);
}
.menu {
  text-align: center;
  margin-bottom: 15rem;
  /* position: relative; */
  background-color: white;
  height: 100%;
}

.menu__container {
  justify-content: center;
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(3, .2fr);
}

.menu h2 {
  display: inline-block;
  font-size: 35px;
  font-family: 'monoton';
  color: #403f3f;
  font-weight: 500;
}

.heading--underline {
  margin: auto;
  width: 70px;
  border-bottom: 1px solid #403f3f;
  margin-bottom: 2rem;
}
@media screen and (max-width: 75em) {

}
@media screen and (max-width: 56.25em) {
  .menu__container {
    display: grid;
    grid-template-columns: auto auto;
}

}
@media screen and (max-width: 27em) {
  .menu__container {
    display: grid;
    grid-template-columns: auto;
    margin-left: 20px;
}
}
