@font-face {
    font-family: poppins;
    src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
  }


.card {
    height: 365px;
    width: 250px;
    box-shadow: 0.1rem 0.1rem 1rem 0.5rem rgba(89, 88, 88, 0.322);
    /* border: 2px solid grey; */
    text-align: center;
    font-family: "poppins" , "sans-serif";
    margin-bottom: 20px;
    margin-right: 2rem;
}

img {
    height: 180px;
    width: 100%;
}

.card-body h5 {
    font-size: 15px;
    margin-bottom: 5px;
}
.card-body{
    height: 80px;
    padding: 5px;
}
.card-body p {
    font-size: 13px;
    font-weight: 600;
}

.card-btn {
    background-color: #bb9b3d;
    border-color: #312910ec;
    font-size: 12px;
    padding: 3px 5px;
    margin-bottom: 3rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;

}

.card-btn:hover, .card-btn:active {
    background-color: #4f4014;
    border-color: #161207ec;
}
.card:hover {
    transform: scale(1);
    transition: ease-in 200ms;
    outline: 0.2rem solid #403f3f;
    box-shadow: 0.2rem 0.2rem 2rem 1rem #7672726d;
  }
/* 320px 320/16=20em              nb 16px is the default font size we are dividing it by the media query size to convert to ems
432px 320/16=27em
480px 480/16 = 30em
600px 600/16 = 37.5em
768px = 48em
900px = 56.25em
1024px = 64em
1200px  = 75em
1800px 112.5em
*/
  @media screen and (max-width: 56.25em) {
    .card {
        height: 320px;
        width: 200px;
    }
    
    img {
        height: 140px;
        width: 100%;
    }
    
    .card-body h5 {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .card-body{
        height: 80px;
        padding: 5px;
    }
    .card-body p {
        font-size: 13px;
    }
}

@media screen and (max-width: 48em) {
          
}

@media screen and (max-width: 32.5em) {
    .card {
        height: 300px;
        width: 160px;
        /* border: 2px solid grey; */
    }
    
    img {
        height: 110px;
        width: 100%;
    }
    
    .card-body h5 {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .card-body{
        height: 80px;
        padding: 5px;
    }
    .card-body p {
        font-size: 13px;
    }
}

@media screen and (max-width: 27em) {
    .card {
        height: 320px;
        width: 260px;
    }
    
    img {
        height: 150px;
        width: 100%;
    }
    
    .card-body h5 {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .card-body{
        height: 60px;
        padding: 5px;
    }
    .card-body p {
        font-size: 12.5px;
    }
}

@media screen and (max-width: 19em) {
    .card {
        width: 220px;
    }
}

@media screen and (min-width: 112.5em) {}
