.form {
  /* text-align: right; */
  margin-left: 5px;
}
.label{
  font-size: 12px;
}
.input{
  width: 50px;
}
.card-btn {
  background-color: #bb9b3d;
  border-color: #312910ec;
  font-size: 12px;
  padding: 2.5px 6px;
  margin-bottom: 3rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
  display: block;
  margin-left: 85px;
}
.card-btn:hover, .card-btn:active {
  background-color: #4f4014;
  border-color: #161207ec;
}
/* 320px 320/16=20em              nb 16px is the default font size we are dividing it by the media query size to convert to ems
432px 320/16=27em
480px 480/16 = 30em
600px 600/16 = 37.5em
768px = 48em
900px = 56.25em
1024px = 64em
1200px  = 75em
1800px 112.5em
*/
@media screen and (max-width: 56.25em) {
  .card-btn{
    margin-left: 65px;
  }
  
}

@media screen and (max-width: 48em) {
        
}

@media screen and (max-width: 32.5em) {
  .card-btn{
    margin-left: 45px;
  }
}

@media screen and (max-width: 27em) {
 .card-btn{
  margin-left: 95px;
 }
}

@media screen and (max-width: 19em) {
  .card-btn{
    padding: 2px 7px;
    margin-left: 70px;
  }
}

@media screen and (min-width: 112.5em) {}
